@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Shrikhand&display=swap');

.profile-dropdown {
  position: absolute;
}

.plant-navbar {
  background-color: #FFF1C3;
  font-family: "Bagel";
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 2rem;
  width: 100%;
  box-sizing: border-box;
}

.brand {
  font-size: 3.0rem;
  font-family: "Bagel Fat One";
  padding-left: 20px;
}

.nav-links {
  font-family: 'Bagel Fat One';
  font-size: 1.9rem;
  display: flex;
  justify-content: space-evenly;
  flex: 1;
  gap: 6rem;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 70%;
  cursor: pointer;
  }

  .nav-links a {
  color: #5C7250;

  text-decoration: none;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1rem;
  }

  .nav-links a:hover,
  .nav-links a.active {
  color: black;
  }